@font-face{
    font-family: 'TheSalvador';
    src: url(TheSalvador.otf);
}

*{
    font-family: "TheSalvador";
    background-color: #f8f0e6;
    text-align: center;
    padding: 0.6em;
}

.general{
    border:solid #886a42 0.6rem;
    border-radius: 1.188rem 1.188rem 1.188rem 1.188rem;
    -moz-border-radius: 1.188rem 1.188rem 1.188rem 1.188rem;
    -webkit-border-radius: 1.188rem 1.188rem 1.188rem 1.188rem;
}

.Maderafoto1{
    animation-delay: 0.5s;
}
    
.Maderafoto2{
    animation-delay: 1s;
}
    
.Maderafoto3{
    animation-delay: 1.5s;
}

